@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

footer{
    height: 12vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    min-height: calc(100vh - 12vh - 60px);
}


header{
    height: 60px;
    background-color: black;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 90px;
}

nav{
    display: flex;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: flexbox;
    padding: 0 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

nav ul li a:hover{
    color: blue;
    font-weight: bold;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 500px;
    height: 35px;
    border-radius: 7px;
    padding: 0 12px;
}
